*{
    box-sizing: border-box;

  }

  body {
    padding: 0;
    margin: 0;
  }


.navbar {
    width: 160px;
    height: 100%;
    position: fixed;
    background-color: slategray;
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
}

.navbar a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
  }

  .navbar a:hover {
    background-color: #ccc;
  }


#opening-prompt {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%; left: 50%;
}


#new-user-btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    border: hidden;
    border-radius: 10px;
    background-color: rgb(96, 195, 252);
}

#new-user-btn:hover {
    background-color: rgb(56, 75, 152);
    cursor: pointer;
}


#load-user-btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    border: hidden;
    border-radius: 10px;
    background-color: rgb(96, 195, 252);
}
#load-user-btn:hover {
    background-color: rgb(56, 75, 152);
    cursor: pointer;
}

#new-user-box {
    border:hidden;
    border-radius: 10px;
    background-color: rgb(200, 200, 200);
    font-size: 2rem;
    text-align: center;
    outline: none;
}

#db-usernames-list {
    max-height: 200px;
    width: 600px;
    overflow: auto;
}

#db-usernames-list > button {
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    border: hidden;
}

#db-usernames-list > button:hover {
    background-color: rgb(96, 195, 252);
    cursor: pointer;
}


#chat-textbox { 
    position: fixed;
    outline:none;
    display: block;
    padding: 12px 20px;
    width: 55%;
    border: 2px solid rgb(96, 195, 252);
    border-radius: 10px;
    font-size: 2rem;
    font-family: monospace;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}


canvas {
    margin: auto;
    display: block;
    position: fixed;
    background-color: rgb(78, 61, 139);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.hide {
    display: none;
}



