*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }



.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 10;
    width: 100vw;
    height: 100vh;
}


#activity-bar {
    grid-column: 1;
    grid-row: 1/10;
    background-color: rgb(18, 31, 53);
    text-align: center;
}

#activity-bar > img {
    text-align: center;
}

#activity-bar > h1 {
    grid-column: 1/5;
    grid-row: 2;
    color: rgb(255, 255, 238);
    font-family: monospace;
    font-size: 3rem;
}


#main-screen {
    position: relative;
    background-color: rgb(255, 255, 238);
    grid-column: 2/6;
    grid-row: 1/10;
}

#chat-textbox { 
    position: relative;
    outline:none;
    display: block;
    padding: 12px 20px;
    width: 55%;
    border: 2px solid rgb(96, 195, 252);
    border-radius: 10px;
    font-size: 2rem;
    font-family: monospace;
    top: 900px;
    margin-right: auto;
    margin-left: auto;
}


#canvas {
    margin: auto;
    display: block;
    position: absolute;
    background-color: red;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}



