
html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background-color: rgb(91, 116, 135);
}

        
.stop-scrolling {  
    height: 100%;    
    text-align: center;
}

#app-screen {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    background-color: rgb(170, 166, 104);
    height: 60%;
    text-align: center;
}

#app-screen > #char-prompt {
    margin: auto;
    text-align: center;
    font-size: 3rem;
}


#app-screen > #canv {
    margin: auto;
    display: block;
}

#save {
    margin: auto;
    margin-top: 40px;
}

.btn {
    color: white;
    background-color: rgb(56, 104, 197);
    text-shadow: none;
    border: none;
    border-radius: 10px;
    font-size: 2rem;
    margin-top: 5px;
}